@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cormorant: 'Cormorant Garamond', serif;
  --font-nunito: 'Nunito', sans-serif;
}

::selection {
  background-color: #237371;
  color: #FEFFFF;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2A272A;
}

::-webkit-scrollbar-thumb {
  background: #237371;
  border-radius: 3px;
}